.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campos{
    display: flex;
    flex-direction: column;
}

.botoes{
    display: flex;
    flex-direction: column;
}

